*.node filter=lfs diff=lfs merge=lfs -text
# Normalise les fins de ligne pour les fichiers texte
* text=auto

# Garde les fichiers binaires intacts
*.png binary
*.jpg binary
*.gif binary
*.svg binary

# Spécifie explicitement les fichiers JSON avec des fins de ligne LF
*.json text eol=lf
